.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;

    .category {
        margin: 0.25rem 0;
        padding: 0;
    }

    .data {
        margin: 0.25rem 0;
        padding: 0;
    }
}