<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button class="btn" (click)="auth.logout({ returnTo: document.location.origin })">
        Log out
    </button>
    <button *ngIf="selectedEvent$ | async as selectedEvent; else defaultdashboard" [routerLink]="['/event', selectedEvent.eventID, 'dashboard']" class="btn">Dashboard</button>
    <ng-template #defaultdashboard>
        <button #defaultdashboard class="btn" routerLink="/dashboard">Dashboard</button>
    </ng-template>
</ng-container>

<ng-template #loggedOut>
    <button class="btn" (click)="auth.loginWithRedirect()">Log in</button>
</ng-template>