<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <button class="btn" (click)="auth.logout({ returnTo: document.location.origin })">
        Log out
    </button>
    <button *ngIf="selectedEvent$ | async as selectedEvent; else profile" [routerLink]="['/user/event', selectedEvent.eventID, 'dashboard']" class="btn">Dashboard</button>
    <ng-template #profile>
        <button #profile class="btn" routerLink="/user/profile">Profile</button>
    </ng-template>
</ng-container>

<ng-template #loggedOut>
    <button class="btn" (click)="auth.loginWithRedirect()">Log in</button>
</ng-template>