.dashboard-container {
    display: flex;
    flex-direction: column;

    .dashboard-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .user-profile-container {
            grid-column: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .team-management-container {
            grid-column: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .events-container {
            grid-column: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .dashboard-tile {
            background-color: white;
            border: 1px solid #ccc;
            margin: 1rem;
            padding: 1rem;
        }
    }
}